* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
img {
  display: block;
}
.container {
  display: block;
  margin: 0 auto;
  width: 1080px;
}
.clearfix {
  display: table;
  content: "";
  clear: both;
}
/*header*/
#header {
  padding: 0 30px;
}
#header .logo {
  float: left;
}
#header .nav {
  float: right;
}
#header .nav li {
  float: left;
}
#header .nav li a {
  display: inline-block;
  padding: 0 12px;
  color: #333333;
  line-height: 100px;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#header .nav li.active a {
  color: #D6B161;
}
#header .nav li.boundary:after {
  content: "|";
  padding: 0 12px;
}
#header:after,
.logo:after,
ul:after {
  content: "";
  display: table;
  clear: both;
}
/*content*/
#content > div {
  padding-top: 80px;
}
#content > div:first-child {
  padding-top: 0;
}
#content .container {
  padding: 50px 0;
}
#content .container:first-child {
  padding-top: 0;
}
#content .header {
  background: #F5F5F5;
}
#content h3.title {
  float: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 0;
  font-size: 18px;
}
#content #breadcrumbs {
  float: right;
}
#content #breadcrumbs li {
  padding: 0 5px;
  float: left;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
#content #breadcrumbs li:after {
  content: "/";
  margin-left: 10px;
  color: #7E7E7E;
}
#content #breadcrumbs li:last-child:after {
  content: "";
}
#content #breadcrumbs li a {
  display: inline-block;
  text-decoration: none;
  color: #7E7E7E;
}
#content .team-member .intro {
  display: inline-block;
  padding-bottom: 80px;
}
#content .team-member .intro p {
  text-align: center;
  text-decoration: uppercase;
  font-size: 26px;
  font-weight: normal;
  line-height: 36px;
}
